* {
	margin: 0;
	padding: 0;
	text-align: center;
}

.fill {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #22b5e8;
	background: linear-gradient(to right ,#24f4b9, #22b5e8);
}

a {
	color: white;
}

h1 {
	display: inline;
	position: absolute;
	width: 90%;
	bottom: 55%;
	left: 50%;
	margin-left: -45%;
	color: white;
}

div {
	display: inline;
}

.apple:hover, .apple:visited, .apple:active {
	color: #000;
}

.resistance:hover, .resistance:visited, .resistance:active {
	color: #d20001;
}

.github:hover, .github:visited, .github:active {
	color: #333;
}

.facebook:hover, .facebook:visited, .facebook:active {
	color: #3B5998;
}

.flickr {
	background: linear-gradient(to right, #0062dd, #ff0084);

	background-clip: text;
	-ms-background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
}

.flickr:hover, .flickr:active {
	color: transparent;
	text-fill-color: transparent;
	-ms-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
}

.lastfm:hover, .lastfm:visited, .lastfm:active {
	color: #d51007;
}

.telegram:hover, .telegram:visited, .telegram:active {
	color: #0088cc;
}

.linkedin:hover, .linkedin:visited, .linkedin:active {
	color: #0077b5;
}

.instagram {
	background: linear-gradient(to bottom, #8134af, #f58529);

	background-clip: text;
	-ms-background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
}

.instagram:hover, .instagram:active {
	color: transparent;
	text-fill-color: transparent;
	-ms-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
}

.snapchat:hover, .snapchat:visited, .snapchat:active {
	color: #fffc00;
}
